<link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>

<form method="post" action="index.html">
  <div class="box">
    <h1>Dashboard</h1>

    <input type="email" name="email" value="email" class="email" />

    <input type="password" name="email" value="email" class="email" />

    <a href="#"><div class="btn">Sign In</div></a> <!-- End Btn -->

    <div id="btn2" style="cursor:pointer" routerLink="/signup">Sign Up</div> <!-- End Btn2 -->

  </div> <!-- End Box -->

</form>